@using CarWorkshop.Application.CQRS.CarWorkshopServices.Commands;
@model CreateCarWorkshopServiceCommand

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-inline-block float-end" data-bs-toggle="modal" data-bs-target="#createCarWorkshopServiceModal">
    <i class="bi bi-plus-circle" style="margin-right: 6px;"></i> Add new service
</button>

<div class="clearfix"></div>
<hr />

<!-- Modal -->
<div class="modal fade" id="createCarWorkshopServiceModal" tabindex="-1" role="dialog" aria-labelledby="createCarWorkshopServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="CarWorkshopService" asp-action="Create">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCarWorkshopServiceModalLabel">Create new carworkshop service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly"></div>

                    <input asp-for="CarWorkshopEncodedName" class="form-control" type="hidden" />
                    
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="description-error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cost" class="control-label"></label>
                        <input asp-for="Cost" class="form-control" />
                        <span asp-validation-for="Cost" class="cost-error text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }
}
